@import url("https://db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse+Bold");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.right {
  position: relative;
  background-image: url('ocean.jpg');
  background-size: cover;
  width: 40%;
  height: 100vh;
}

.logo div {
  position: absolute;
  display: flex;
  width: 100%;
  background: black;
  opacity: 0.5;
  color: white;
  top: 8rem;
  text-align: center;
  font-size: 4em;
  font-family: "Norse Bold";
  justify-content: center;
}

.left {
  position: relative;
  height: 100vh;
  width: 60%;
  background-color: rgb(255, 255, 255);
}

.Ads {
  padding: 120px 40px 20px 30px;
  font-family: Helvetica;
  font-size: 20px;
}

.form {
  
}

.sign-up p{
  padding: 0px 20px 8px 20px;
  margin-left: 10px;
}

button {
  background-color: #596D48;
  border-radius: 10px;
  border-color: white;
  padding: 8px 20px 8px 20px;
  color: white;
  width: 10.2em;
  margin: 30px;
}